.todoFormContainer {
  margin-bottom: 30px;
}
.todoFormContainer form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todoFormContainer button {
  margin-left: 20px;
  height: 50px;
  color: whitesmoke;
  cursor: pointer;
  font-size: 1.5rem;
  border: 2px solid whitesmoke;
  background: rgba(255, 255, 255, 0.1);
}

.todoFormContainer input {
  width: 45%;
  height: 30px;
  font-size: 1.3rem;
  border: none;
}

.todoFormContainer button:hover {
  color: white;
  border-color: aquamarine;
}

.todoFormContainer input,
.todoFormContainer button {
  padding: 10px 15px;
  border-radius: 5px;
}
