.todo {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  margin: 15px 0;
  font-size: 1.5rem;
  border-radius: 5px;
  border: 2px solid whitesmoke;
  color: #112d49;
  background-color: rgba(0, 0, 0, 0.3);
}

.todoText {
  width: 100%;
  text-align: left;
  color: white;
  padding: 7px;
}

.todoIcon {
  font-size: 1.8rem;
  margin-right: 10px;
  color: teal;
}

.completedTodo {
  color: gray;
  text-decoration: line-through;
  background-color: unset;
  border-color: gray;
}

.todo.completedTodo .todoIcon,
.todo.completedTodo .checkIcon,
.todo.completedTodo .deleteIcon {
  color: gray;
}

.checkIcon,
.deleteIcon {
  cursor: pointer;
  color: whitesmoke;
  padding: 0 7px;
  font-size: 1.8rem;
  transition: transform 0.2s;
}

.checkIcon:hover,
.deleteIcon:hover {
  cursor: pointer;
  transform: scale(1.2);
}

.checkIcon:hover {
  color: aquamarine;
}

.deleteIcon:hover {
  color: rgb(245, 41, 102);
}
